* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
    display: flex;
    align-items: center;
    background-image: url(/assets/img/fondo.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    width: 15vw;
    margin: 1rem;
}

H1 {
    font-size: 3.7vb;
    color: rgb(160, 196, 238);
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: right;
    background-color: rgb(9, 40, 80);
}

nav>a {
    display: flex;
    color: aliceblue;
    font-size: 1.3vb;
    font-weight: bolder;
    background-color: rgb(25, 95, 187);
    width: 8rem;
    height: 1.7rem;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

a:hover {
    background-color: rgb(9, 40, 80);
}

a:active {
    background-color: darkgreen;
}

a[href="#"] {
    background-color: darkgreen;
}

section>h2 {
    color: white;
    text-align: center;
    background-color: rgb(9, 40, 80);
    height: 40px;
    font-style: italic;
}

#banner {
    width: 100%;
}

h3 {
    font-style: italic;
}

#foto {
    width: 100%;
}

article {
    padding-bottom: 1rem;
}

main {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    width: 25%;
    margin-left: 10px;
    margin-top: 10px;
}

.colum2 {
    width: 70%;
    margin-right: 10px;
    margin-top: 10px;
}

li {
    padding: 5px;
    margin-left: 5px;
}

table {
    width: 100%;
    margin: 1rem 0;
}

th {
    color: white;
    background-color: black;
    opacity: 0.8;
}

p {
    margin-bottom: 1rem;
}