*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

H1{
    padding: 1rem;
    font-style: italic;
}

nav{
    text-align: right;
    height: 24rem;
    width: 100%;
    background-image: url(../img/design2_image1.jpg);
    background-size: cover;
    padding: 0,5rem;
}

nav>a{
    display: inline-block;
    color: aliceblue;
    border: 2px solid rgb(0, 0, 0);
    padding: 2px;
    background-color: rgb(25, 95, 187);
    margin-right: 5px;
    margin-top: -1rem;
    width: 10rem;
    height: 2rem;
    text-align: center;
    text-decoration: none;    
}

a:hover{
    background-color:  rgb(9, 40, 80);
}

a:active{
    background-color: darkgreen;
}

a[href="#"]{
    background-color: darkgreen;
}

header>h2{
    color: aliceblue;
    text-align: center;
    background-color: rgb(126, 21, 21);
    height: 40px;
    font-style: italic;
}

.banner{    
    width: 100%;
}

h3{
    font-style: italic;
}

#logo{
    width: 100%;
}

#foto{
    width: 100%;
}

article{
    padding-bottom: 1rem;   
}

main{
    margin: 10px;
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
}

.colum1{
    width: 25%;
    border: 1px solid red;
}

.colum2{
    width: 70%;
    border: 1px solid green;
}

li{
    padding: 5px;
    margin-left: 5px;
}







